<div class="wrapper">
  <h1>
    Report an incident
  </h1>
  <form [formGroup]="incidentForm">
    <label>Type
      <select formControlName="type">
        <option *ngFor="let option of types" [ngValue]="option">{{ option }} </option>
      </select>
    </label>
    <p *ngIf="getError('type', { checkPristine: true } ) as error" class="errorText">
        {{ error }}
    </p>

    <label>Title
      <input type="text" formControlName="title"/>
    </label>
    <!-- Add a container for errors here -->
    <p *ngIf="getError('title') as error" class="errorText">
        {{ error }}
    </p>

    <label>Description
      <input type="text" formControlName="description"/>
    </label>
    <!-- Add a container for errors here -->
    <p *ngIf="getError('description') as error" class="errorText">
        {{ error }}
    </p>

    <label>Site ID
      <input type="text" formControlName="siteId"/>
    </label>
    <!-- Add a container for errors here -->
    <p *ngIf="getError('siteId') as error" class="errorText">
        {{ error }}
    </p>

    <!-- Add a section to contain the dynamic part of the form -->
    <section formArrayName="affected">
    <div *ngFor="let person of affected.controls; let i=index">
        <label>Affected person #{{i + 1}}
            <input type="text" [formControlName]="i"/>
        </label>
        <p *ngIf="getError('affected.' + i) as error" class="errorText">
            {{ error }}
        </p>
    </div>
    <!-- This section also contains the button to add fields. You can't
    remove affected persons at this point. -->
    <button type="button" (click)="onAddAffectedClick()">Add affected persons</button>
    </section>

    <!-- Hey its a hr tag! -->
    <hr />

    <button type="submit" [disabled]="!incidentForm.valid">Send report</button>
  </form>
</div>
