<div class="wrapper">
  <h1>
    Report an incident
  </h1>
  <form [formGroup]="incidentForm">
    <label>Type
      <select formControlName="type">
        <option *ngFor="let option of types" [ngValue]="option">{{ option }} </option>
      </select>
    </label>
    <p *ngIf="getError('type', { checkPristine: true } ) as error" class="errorText">
        {{ error }}
    </p>

    <label>Title
      <input type="text" formControlName="title"/>
    </label>
    <!-- Add a container for errors here -->
    <p *ngIf="getError('title') as error" class="errorText">
        {{ error }}
    </p>

    <label>Description
      <input type="text" formControlName="description"/>
    </label>
    <!-- Add a container for errors here -->
    <p *ngIf="getError('description') as error" class="errorText">
        {{ error }}
    </p>

    <label>Site ID
      <input type="text" formControlName="siteId"/>
    </label>
    <!-- Add a container for errors here -->
    <p *ngIf="getError('siteId') as error" class="errorText">
        {{ error }}
    </p>

    <button type="submit" [disabled]="!incidentForm.valid">Send report</button>
  </form>
</div>
